.image-fondo {
    background-image: url("../media/photos_2020_1_24_fst_stroke-abstract.jpg");
    background-size: cover;
}

.modal-background{
    background-image: url("../media/modal.jpg");
    background-size: cover;
}

.cabecera{
  color: #fff;
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  text-shadow: #111 0px 0px 10px;
}

.container-fluid {
    display: flex;
    justify-content: center;	
}

.font-style{
    font-family: 'Leckerli One', cursive;
}

.font-styleNav{
    font-family: 'Lobster', cursive;
}

.special-card {    
    background-image: url("../media/yellow.jpg");
    background-size: cover;
}